.piece{
    height:65px;
    width:65px;
    display:block;
    border-radius:38px;
    margin-left:auto;
    margin-right:auto;
}
.player0{
    background-color:#DDDDDD;
}
.player1{
    background-color:#FF0000;
}
.player2{
    background-color:#0000FF;
}
.board_square{
    border:1px solid #555555;
    height:70px;
    width:70px;
}
h1 {
    text-align:center;
}
#game_table{
    margin:auto;
}
.button {
    padding: 13px 28px;
    text-align: center;
    cursor: pointer;
    font-size:13px;
}

#game_info{
    font-size: 30px;
    text-align:center;
}

.button1 {
    position:fixed;
    left:8%;
    top:17%;
}